---
import { Image } from "astro:assets";

const skills = [
  {
    name: "JavaScript",
    icon: "/icons/skills/javascript.png",
  },
  {
    name: "TypeScript",
    icon: "/icons/skills/typescript.png",
  },
  {
    name: "ReactJS",
    icon: "/icons/skills/react.png",
  },
  {
    name: "TailwindCSS",
    icon: "/icons/skills/tailwindcss.svg",
  },
  {
    name: "NodeJS",
    icon: "/icons/skills/nodejs.svg",
  },
];
---

<section
  id="experience"
  class="w-full h-screen flex items-center justify-center"
>
  <div
    class="w-full md:max-w-[500px] flex flex-col md:flex-row md:flex-wrap gap-12 md:gap-24"
  >
    <div class="flex flex-col gap-4 md:gap-8">
      <h1 class="font-title text-sm">Experience</h1>
      <div class="dark:text-slate-300 text-slate-600">
        <p>June - December 2023</p>
        <p class="text-cyan-500">Balan Coffee & Roastery</p>
        <p>Web Developer</p>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:gap-8">
      <h1 class="font-title text-sm">Skills</h1>
      <div class="flex flex-col gap-2 dark:text-slate-300 text-slate-600">
        {
          skills.map((skill) => (
            <span class="flex gap-4 items-center">
              <Image
                src={skill.icon}
                alt={skill.name}
                width={22}
                height={22}
                class="transition duration-200 ease-in-out hover:-translate-y-1"
                loading="lazy"
              />
              <p>{skill.name}</p>
            </span>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <h1 class="font-title text-sm">Education</h1>
      <div class="dark:text-slate-300 text-slate-600">
        <p>2020 - Present</p>
        <p class="text-blue-500">Bachelor Degree in Software Engineering</p>
        <p>Ton Duc Thang University</p>
      </div>
    </div>
  </div>
</section>
