<section
  id="greeting"
  class="w-full h-screen flex flex-col gap-4 lg:gap-8 items-center justify-center"
>
  <div class="w-full max-w-[800px] text-left flex flex-col gap-4">
    <p class="text-blue-500 font-title text-xs">Hello, my name is</p>
    <h1 class="lg:text-6xl text-4xl">LE DINH KHOI.</h1>
    <h2 class="text-xl lg:text-3xl dark:text-slate-400 text-slate-700">
      I am a web developer
    </h2>
    <p class="dark:text-slate-300 text-sm text-slate-600">
      I'm passionate about creating dynamic and responsive web applications.
      Explore my portfolio to see my projects and learn more about my journey in
      web development. Let's connect and collaborate!
    </p>
  </div>
</section>
