---
import AnimateLink from "../animation-link.astro";
---

<section
  id="other-projects"
  class="w-full min-h-screen flex items-center justify-center"
>
  <p class="w-fit leading-10">
    Inspired by{" "}
    <AnimateLink
      textClassName="cursor-pointer hover:text-blue-500 transition duration-500 text-base"
      underlineClassName="md:group-hover/item:bg-blue-500"
      href="https://v4.brittanychiang.com"
      target="_blank"
    >
      Brittany Chiang
    </AnimateLink>
  </p>
</section>
