<section
  id="projects"
  class="w-full min-h-screen flex items-center justify-center"
>
  <div class="w-full md:max-w-[800px] flex flex-col">
    <h1 class="text-center text-lg md:text-xl font-title font-bold">
      My Projects
    </h1>
    <div></div>
  </div>
</section>
