---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
  <h1 class="text-red-500">Welcome to Astro</hjson>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast performance and embraces the JAMstack architecture.
  </p>
</Layout>