---
import Layout from "../layouts/Layout.astro"
import '@/styles/globals.css'
import { Button } from '@/components/ui/button.tsx'
---

<Layout title="Home">
  <h1>Hello</h1>
  <Button>Hello</Button>
</Layout>