---
import { twMerge } from "tailwind-merge";
const { href, target, textClassName, underlineClassName } = Astro.props;
---

<a
  href={href}
  class={twMerge("font-bold relative group/item w-fit", textClassName)}
  target={target}
>
  <span
    class={twMerge(
      "w-0 h-[1px] absolute bottom-0 right-0 transition-all duration-500 lg:group-hover/item:w-full lg:group-hover/item:left-0 lg:group-hover/item:bg-black/40",
      underlineClassName
    )}
    aria-hidden="false"></span>
  <slot />
</a>
