---
import { Separator } from "./ui/separator";
---

<div
  class="flex flex-col items-center gap-8 md:fixed md:bottom-0 md:right-14 mt-4 md:mt-0 h-fit"
>
  <a
    href="mailto:koledinleko@gmail.com"
    class="md:[writing-mode:vertical-rl] hover:text-blue-500 hover:-translate-y-1 transition ease-in-out duration-200"
  >
    <p class="text-xs">koledinleko@gmail.com</p>
  </a>
  <Separator
    orientation="vertical"
    className="h-24 bg-current hidden md:block"
  />
</div>
