---
const THIS_YEAR = new Date().getFullYear();
---

<footer
  class="h-fit p-4 font-custom flex flex-wrap items-center justify-center text-xs text-slate-500"
>
  <p class="w-fit leading-10">
    {THIS_YEAR} Built by <strong>Le Dinh Khoi</strong>
  </p>
</footer>
